html,
body {
  margin: 0;
  padding: 0;
  background: #faf3eb;
  height: 100%;
}

#breathingRoom {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #9c9eb5;
  display: flex;
  justify-content: space-evenly;
}

#canvas {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.control {
  max-height: 24%;
}

label {
  display: block;
}